.bundle
log/*.log
tmp/**/*
tmp/*
*.swp
.DS_Store
public/assets

# Ignore application configuration
/config/application.yml

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/credentials.yml.enc
