 <div class="row">
   <div class="col-md-4">
     <h1 class="tex-center">To do</h1>
     <%= render @to_do %>
   </div>
   <div class="col-md-4">
     <h1 class="tex-center">Doing</h1>
     <%= render @doing %>
   </div>
   <div class="col-md-4">
     <h1 class="tex-center">Done</h1>
     <%= render @done %>
   </div>
 </div>

 <br>
